:root {
    --gradient: radial-gradient(circle, rgba(0,212,208,0.5116640406162465) 0%, rgba(235,108,8,0.5312718837535014) 48%);
    --font-headline: 'Anybody', cursive;
    --font-text: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

/* Index */
.wrapper {
    font-family: var(--font-headline);
    background: rgb(0,212,208);
    background: var(--gradient);
    background-size: 400%;
    animation: gradient 20s ease infinite alternate;
    width: 100vw;
    min-height: 100vh;
}

/* Center and place the content */
.hero {
    text-align: center;
    padding-top: 10%;
}

/* Sytle hero */
.hero h1 {
    font-size: 10rem;
    font-weight: 900;
    color: #222;
}

.hero h2 {
    margin-top: -20px;
}

/* Style buttons */
.hero button {
    width: 20%;
    height: 3rem;
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 3rem .5rem 0 .5rem;
    cursor: pointer;
}

/* Remove link decoration */
.gsap_hero a {
    text-decoration: none;
}

/********************************************/
/* Register, Login*/
/********************************************/

/* Style and set up form */
.register form, .login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
}

/* Style input */
.register label, .login label {
    margin: 20px 0 5px 0;
    font-size: 1.3rem;
}

.register input, .login input, .scan input {
    width: 20%;
    height: 2.3rem;
    background: rgba(255, 255, 255, 0.319);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    font-size: 1rem;
}

.register button, .login button, .console #refresh, .console #save, .scanned button {
    width: 15%;
    height: 3rem;
    /* border: 2px solid #000; */
    border: none;
    background-color: rgba(255, 255, 255, 0.337);
    border-radius: 5px;
    font-size: 1.5rem;
    margin-top: 3rem;
    cursor: pointer;
}

.register input:focus {
    outline: none;
}


/********************************************/
/* Header Menu */
/********************************************/
header ul {
    position: absolute;
    width: 100vw;
    display: inline-flex;
    list-style: none;
    margin: .5em 0 0 1em;
    font-size: 1em;
    font-family: var(--font-text);
    font-weight: 600;
    text-transform: uppercase;
}

header ul li {
    margin: 1em;
    cursor: pointer;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

.logout_btn {
    position: absolute;
    right: 2em;
    top: 1em;
}

.logout_btn a {
    text-decoration: none;
    color: #000;
}

/********************************************/
/* Console */
/********************************************/

.console .colors, .scanned .scan_result, .scan .scan_input {
    margin: auto;
    padding-top: 8em;
    max-width: 90%;
}

/********************************************/
/* Scan*/
/********************************************/
#loaded_img {
    max-height: 500px;
    max-width: 500px;
    margin-top: 3em;
    opacity: 0;
}

.scan_input form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#img_submit {
    height: 3rem;
    font-family: var(--font-headline);
    font-weight: 800;
    margin-right: 3rem;
}

.scan input[type="file"] {
    display: none;
}

.scan .scan_label p {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.319);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    font-size: 1rem;
    margin-right: 3rem;
}

.scan_input form {
    margin-top: 3rem;
}



/********************************************/
/* Color Tabs */
/********************************************/
.colors ul,
.color_schemes ul  {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2em;
}
.colors ul li, 
.color_schemes ul li {
    margin: 1em;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 8px 0px rgb(0 0 0 / 30%);
}

/********************************************/
/* My Colors */
/********************************************/
.mycolors .color_schemes,
.mycolors .img_colors {
    padding-top: 8em;
    max-width: 90%;
    margin: auto;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 7rem;
        margin: 15% 0 5% 0;
    }
    .hero button {
        width: 50%;
    }
}