:root {
    --gradient: radial-gradient(circle, rgba(0, 212, 208, 0.5116640406162465) 0%, rgba(235, 108, 8, 0.5312718837535014) 48%);
    --font-headline: 'Anybody', cursive;
    --font-text: 'Roboto', sans-serif;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --button-background: rgba(255, 255, 255, 0.319);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-family: var(--font-text);
    padding-top: .3em;
    color: #333;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

/* Index */
.wrapper {
    font-family: var(--font-headline);
    background: rgb(0, 212, 208);
    background: var(--gradient);
    background-size: 400%;
    animation: gradient 20s ease infinite alternate;
    width: 100vw;
    min-height: 100vh;
}

/* Center and place the content */
.hero {
    text-align: center;
    padding-top: 12%;
}

/* Sytle hero */
.hero h1 {
    font-size: 10rem;
    font-weight: 900;
    color: #222;
}

.hero h2 {
    margin-top: -20px;
}

/* Remove link decoration */
.gsap_hero a {
    text-decoration: none;
}

/********************************************/
/* Register, Login*/
/********************************************/

.back_btn {
    position: absolute;
    right: 4em;
    top: 3em;
    text-decoration: none;
    font-family: var(--font-text);
    text-transform: uppercase;
    font-weight: 600;
}

.back_btn a {
    color: rgba(51, 51, 51, 0.98);
    text-decoration: none;
}

/* Style and set up form */
.register form,
.login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
}

.register form h1,
.login form h1 {
    font-family: var(--font-headline);
    font-style: normal;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #222;
    text-decoration: underline;
}

/* Style input */
.register label,
.login label {
    margin: 20px 0 5px 0;
    font-size: 1.3rem;
}

.register input,
.login input,
.scan input {
    width: 20%;
    height: 2.3rem;
    background: var(--button-background);
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.hero button,
#refresh {
    margin: 3rem .5rem 0 .5rem;
}

/********************************************/
/* Global button styles */
/********************************************/
.global_btn {
    width: 15%;
    height: 3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.337);
    border-radius: 5px;
    font-family: var(--font-text);
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 3rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: #222;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

#clear_schemes,
#clear_imgColors {
    margin-top: 1em;
    font-size: 1rem;
}

.global_btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: all .3s ease-in-out;
}

.global_btn:active {
    transform: translateY(4px);
}

.register input:focus {
    outline: none;
}


/********************************************/
/* Header Menu */
/********************************************/
header ul {
    position: absolute;
    width: 100vw;
    display: inline-flex;
    list-style: none;
    margin: .5em 0 0 1em;
    font-size: 1em;
    font-family: var(--font-text);
    font-weight: 500;
}

header ul li {
    margin: 1em;
    cursor: pointer;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

.logout_btn {
    position: absolute;
    right: 4em;
    top: 1em;
}

.logout_btn a {
    text-decoration: none;
    color: #000;
}

/********************************************/
/* Console */
/********************************************/

.console .colors,
.scanned .scan_result,
.scan .scan_input {
    margin: auto;
    padding-top: 8rem;
    max-width: 90%;
}

/********************************************/
/* Scan*/
/********************************************/
#loaded_img {
    max-height: 500px;
    max-width: 500px;
    margin-top: 3em;
    opacity: 0;
}

.scan_input form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#img_submit {
    height: 3rem;
    font-family: var(--font-headline);
    font-weight: 800;
    margin-right: 3rem;
}

.scan input[type="file"] {
    display: none;
}

.scan .scan_label p {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 800;
    background: var(--button-background);
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    font-size: 1rem;
    margin-right: 3rem;
}

.scan_input form {
    margin-top: 3rem;
}



/********************************************/
/* Color Tabs */
/********************************************/
.colors ul,
.color_schemes ul,
.img_colors ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2em;
}

.colors ul li,
.color_schemes ul li,
.img_colors ul li {
    flex-basis: 17%;
    margin: 1em;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    text-align: center;
    box-shadow: 10px 10px 8px 0px rgb(0 0 0 / 30%);
}

/********************************************/
/* My Colors */
/********************************************/
.mycolors .color_schemes,
.mycolors .img_colors {
    padding-top: 8rem;
    max-width: 90%;
    margin: auto;
}

.mycolors_rgb,
.mycolors_img {
    display: none;
}

.color_schemes a,
.img_colors a {
    display: block;
    margin-top: 50%;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    transition: all .3s ease-in-out;
}

.color_schemes a:hover,
.img_colors a:hover {
    color: #222;
    transition: all .3s ease-in-out;
}

.color_schemes a:active,
.img_colors a:active {
    transform: translateY(8px);
}

.mycolors .nav_btn {
    position: fixed;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    right: 0;
    top: 100px;
}

.mycolors .nav_btn a:hover {
    background: rgba(255, 255, 255, 0.565);
    transition: all .3s ease-in-out;
}

.mycolors .nav_btn a:active {
    transform: translateY(8px);
    transition: all .3s ease-in-out;
}

.mycolors .nav_btn a:hover i {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.mycolors .nav_btn a {
    transition: all .3s ease-in-out;
    background: var(--button-background);
    text-decoration: none;
    color: #000;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px 0 0 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    padding: .7rem 1.3rem;
}

.mycolors .nav_btn i {
    margin-right: 1em;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

/********************************************/
/* Analyse*/
/********************************************/
.analyse_container {
    max-width: 90%;
    margin: auto;
}

.analyse_input,
.analyse_output {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}

.analyse_output {
    flex-direction: row;
    padding-top: 5%;
}

.analyse_input form {
    width: 20%;
    padding-top: 3rem;
}

.analyse_input input[type=text] {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    border: none;
    background: var(--button-background);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.analyse_input input::placeholder {
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.623);
    text-align: center;
}

.analyse_output_color,
.analyse_output_text {
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 8px 0px rgb(0 0 0 / 30%);
    margin: .5em;
}

.analyse_output_text {
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.337);
}

.analyse_output_text p {
    padding: 1rem;
}

.analyse_color_data {
    font-family: var(--font-headline);
    font-weight: 800;
}

#color_search {
    width: 70%;
}

/********************************************/
/* Sorry*/
/********************************************/
.sorry_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.sorry_container img {
    max-height: 400px;
    margin-left: 2rem;
}

.sorry_container h1 {
    margin-top: 4rem;
}

/********************************************/
/* Media Query Smartphone*/
/********************************************/
@media screen and (max-width: 1024px) {

    /************/
    /* Spacing Top Mobile*/
    /***********/
    .hero,
    .login,
    .register {
        padding-top: 7rem;
    }

    .console .colors {
        padding-top: 7rem;
    }

    /************/
    /* Hero Section*/
    /***********/
    .hero h1 {
        font-size: 5rem;
        margin: 15% 0 2% 0;
    }

    .hero h2 {
        font-size: 1.3rem;
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;
        font-weight: 500;
    }

    .hero button {
        width: 50%;
        margin: 0 0 1rem 0;
    }

    /************/
    /* Input Fields*/
    /***********/

    .register input,
    .login input,
    .scan input {
        width: 70%;
    }

     /************/
    /* Spacing Top Mobile*/
    /***********/

    .global_btn {
        width: 45%;
    }

    .colors ul li, .color_schemes ul li, .img_colors ul li {
        flex-basis: auto;
    }
}