{% extends "layout.html" %}

{% block title %}
Analyse Colors
{% endblock %}

{% block content %}
<div class="wrapper analyse">
    <header>
        <ul>
            <li><a href="/console">Home</a></li>
            <li><a href="/mycolors">My Colors</a></li>
            <li><a href="/scan">Scan Image</a></li>
            <li><a href="/analyse">Analyze Colors</a></li>
            <li><div class="logout_btn">
                <a href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="analyse_container">
        <div class="analyse_input">
            <h1>Analyse your RGB Colors</h1>
            <h3>Copy colors from MyColors and paste the RGB Code here</h3>
            <form action="/analyse" method="POST">
                <input type="text" placeholder="Insert the RGB to search" name="analyse_color">
                <input type="submit" value="Search Color" name="color_search" id="color_search" class="global_btn">
            </form>
        </div>
        {% if color %}
        <div class="analyse_output">
            <div class="analyse_output_color" style="background-color: {{ color["rgb"]["value"] }};"></div>
            <div class="analyse_output_text">
                <p><span class="analyse_color_data">Color Name:</span> {{ color["name"]["value"] }}</p>
                <p><span class="analyse_color_data">RGB Value:</span> {{ color["rgb"]["value"] }}</p>
                <p><span class="analyse_color_data">HSL Value:</span> {{ color["hsl"]["value"] }}</p>
                <p><span class="analyse_color_data">HEX Value:</span> {{ color["name"]["closest_named_hex"] }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}