{% extends "layout.html" %}

{% block title %}
    Console
{% endblock %}

{% block content %}
<!-- Log out button -->
<div class="wrapper console">
    <div class="colors">
        <h1>Pick your colors</h1>
        <ul>
            {% for color in colors %}
                <li style="background-color: rgb{{ color }};"></li>
            {% endfor %}
        </ul>
        <form action="/console" method="post">
            <input type="submit" value="New palette" name="refresh" id="refresh">
            <input type="submit" value="Save palette" name="save" id="save" id="saveColor">
        </form>
    </div>
</div>
{% endblock %}