{% extends "layout.html" %}

{% block title %}
    Colors
{% endblock %}

{% block content %}
<div class="wrapper index">
    <div class="hero">
        <div class="gsap_hero">
            <h1>C0L0RS</h1>
            <h2>find the best colors for your next project</h2>
            <a href="/login">
               <button class="global_btn">Log in</button>
            </a>
            <a href="/register">
                <button class="global_btn">Register</button>
             </a>
        </div>
    </div>
</div>
{% endblock %}