{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="wrapper login">
    <div class="back_btn">
        <a href="/"><i class="fa-solid fa-angles-left"></i> Go back</a>
    </div>
    <form action="/login" method="post">
        <h1>Login</h1>
        <h3>Log in to use colors</h3>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}