{% extends "layout.html" %}

{% block title %}
My Colors
{% endblock %}

{% block content %}
<div class="wrapper mycolors">
    <header>
        <ul>
            <li><a href="/console">Home</a></li>
            <li><a href="/mycolors">My Colors</a></li>
            <li><a href="/scan">Scan Image</a></li>
            <li><a href="/analyse">Analyse Colors</a></li>
            <li><div class="logout_btn">
                <a href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="nav_btn">
        <a href="#schemes" class="color_nav">Color Schemes</a>
        <a href="#img_schemes" class="color_nav">Image Colors</a>
    </div>
    <div class="color_schemes" id="schemes">
        <h1>Color Schemes</h1>
        <ul>
            {% for color in colors %}
            <li style="background: rgb({{ color["r"] }}, {{ color["g"] }}, {{ color["b"] }})"><span
                    class="mycolors_rgb">rgb({{ color["r"] }}, {{ color["g"] }}, {{ color["b"] }})</span><button
                    class="saveColor_btn">Copy Color</button></li>
            {% endfor %}
        </ul>
    </div>
    <div class="img_colors" id="img_schemes">
        <h1>Image Colors</h1>
           <ul>
            {% for color in img_colors %}
            <li style="background: rgb({{ color["r"] }}, {{ color["g"] }}, {{ color["b"] }})"><span
                    class="mycolors_img">rgb({{ color["r"] }}, {{ color["g"] }}, {{ color["b"] }})</span><button
                    class="saveColor_img">Copy Color</button></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}