{% extends "layout.html" %}

{% block title %}
    Scan results
{% endblock %}

{% block content %}
<div class="wrapper scanned">
    <header>
        <ul>
            <li><a href="/console">Home</a></li>
            <li><a href="/mycolors">My Colors</a></li>
            <li><a href="/scan">Scan Image</a></li>
            <li><a href="/analyse">Analyze Colors</a></li>
            <li><div class="logout_btn">
                <a href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="scan_result">
        <h1>Scan results</h1>
        <h3>The 5 dominant colors from your image</h3>
        <div class="colors">
            <ul>
                {% for colors in color %}
                    <li style="background-color: rgb{{ colors }};"></li>
                {% endfor %}
            </ul>
        </div>
        <form action="/scanned" method="post" enctype="multipart/form-data">
            <button type="submit" name="img_color_save" id="img_color_save">Save Colors</button>
        </form>
    </div>
</div>
{% endblock %}